@{
    Page.Title = "Escriba el título aquí";





}
<link href="~/StyleSheet.css" rel="stylesheet" />

<div  class="caja">
   hola 
</div>
<div  class="caja" >
    hola
</div>
<div  class="caja">
    hola
</div>
<div>soy div</div>