
<link href="~/StyleSheet.css" rel="stylesheet" />
<div>
    <div class="slider">
        <ul>
            <li>
                <img src="http://static.wixstatic.com/media/81830f_5e6548808a9e6d1b766ec03afeb11b4b.jpg_256" alt="Alternate Text" />
                <img src="https://www.cubosrubikmx.com/3468-large_default/crea-tu-pack-de-4-cubos-warina-con-stickers-tu-escogelos.jpg" alt="Alternate Text" />
                <img src="https://cubilandia.com/wp-content/uploads/2018/01/z-cube_kit_5_cubos_fibra_carbono.jpg" alt="Alternate Text" />
            </li>



            <li>
                <img src="https://images-na.ssl-images-amazon.com/images/I/71hnrOaqppL._SY355_.jpg" alt="Alternate Text" />
                <img src="https://kubekings.com/7061/z-cube-4x4-fibra-de-carbono.jpg" alt="Alternate Text" />
                <img src="https://juegosbesa.com/1538-large_default/z-cube-3x3-fibra-de-carbono.jpg" alt="Alternate Text" />
            </li>

            <li>
                <img src="https://i.pinimg.com/originals/c1/f7/d7/c1f7d72ffa569c364443c2108b80a6a8.jpg" alt="Alternate Text" />
                <img src="https://thinkcomputers.org/wp-content/uploads/2018/01/CaseMods_2018-6.jpg" alt="Alternate Text" />
                <img src="https://pbs.twimg.com/media/DTMBIG-UMAAn03e.jpg" alt="Alternate Text" />
            </li>

            <li>
                <img src="https://thinkcomputers.org/wp-content/uploads/2018/01/CaseMods_2018-4.jpg" alt="Alternate Text" />
                <img src="https://i.pinimg.com/originals/f5/29/42/f52942539367501e9531cf86c007e198.jpg" alt="Alternate Text" />
                <img src="https://i.pinimg.com/736x/af/0f/5c/af0f5c122c0e66eeb6873e41a8d227cc.jpg" alt="Alternate Text" />
            </li>

        </ul>    
    </div>
</div>