@{
    Page.Title = "Escriba el título aquí";
    //Layout = "Su página de diseño se incluye aquí";
}
<link href="~/StyleSheet.css" rel="stylesheet" />
<div id=" header">
    <ul class="nav">
        <li><a href="#">content</a>
            <ul>
                
                <li>
                    <a href="#">submenu</a>
                    <ul>
                        <li><a href="#">submenu</a></li>
                        <li><a href="#">submenu1</a></li>
                        <li><a href="#">submenu2</a></li>
                    </ul>
                </li>
                <li><a href="#">submenu1</a></li>
                <li><a href="#">submenu2</a></li>
            </ul>
        </li>
        
        <li><a href="#">content1</a></li>
        <li><a href="#">content2</a></li>
        <li><a href="#">content3</a></li>
    </ul>
    
</div>